<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Frisbee score app</title>
        <link rel="stylesheet" href="css/screen.css" />

    </head>
    <body>
		<h1 id="game_results">Game results</h1>
		<table id="game">
      <tr>
        <th>Set</th>
        <th>Team 1</th>
        <th>Result</th>
        <th>Team 2</th>
      </tr>
    </table>
        
		
        <script id="setTemplate" type="text/template">
            <td><%= number %></td>
            <td><%= team1 %></td>
            <td><%= team1Score %> - <%= team2Score %></td>
            <td><%= team2 %></td>
        </script>
		
		    <!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>
		  
        <!-- Application -->
        <script src="js/app/app.js"></script>
        <!-- Models -->
        <script src="js/app/models/setModel.js"></script>
        <!-- Collections -->
        <script src="js/app/collections/gameCollection.js"></script>
        <!-- Views -->
        <script src="js/app/views/setView.js"></script>
        <script src="js/app/views/gameView.js"></script>
        
        
        
    </body>
</html>