<h1 id="game_results">Game results</h1>
<article id="game">
  <nav class="actions">
    <button id="showForm">Add new set</button>
  </nav>
  <div id="gameData">
  </div>

  <form id="addSet" action="#">
  <h1>Add set</h1>
    <label for="team1">Team 1:</label>
    <input id="team1" placeholder="Team 1 name" type="text" />
    <label for="team1Score">Score:</label>
    <input id="team1Score"  placeholder="Team 1 score" type="text" />
    <br />
    <label for="team2">Team 2:</label>
    <input id="team2" placeholder="Team 2 name" type="text" />
    <label for="team2Score">Score:</label>
    <input id="team2Score"  placeholder="Team 2 score" type="text" />
    <div class="clearfix"><input type="submit" id="add" value="Add" /></div>
</form>
</article>


<script id="setTemplate" type="text/template">
    <p>game_id</p>
    <div>
      <p><%= team_1_score %></p>
      <p><%= team_2_score %></p>
    </div>
</script>