<form action="#" class="teamselect">
	<select name="" id="teamselect">
		<option value="0" disabled selected id="selectteam">Selecteer een team</option>
	</select>
</form>	

<section class="tabs">
	<a href="#" class="current">Stand</a><!-- inline-block space
 --><a href="#/game">Wedstrijden</a>
</section>

<table class="pool">
	<tr class="tablehead">
		<th>Team</th>
		<th>GW</th>
		<th>W</th>
		<th>V</th>
		<th>P+</th>
		<th>P-</th>		
	</tr>
</table>


<script id="teamStats" type="text/template">
   test
</script>
