
<form action="#" class="teamselect">
    <select name="" id="teamselect">
        <option value="0" disabled selected id="selectteam">Selecteer een team</option>
    </select>
</form> 

<section class="tabs">
    <a href="#/ranking">Stand</a><!-- inline-block space
 --><a href="#/schedule" class="current">Wedstrijden</a>
</section>

<section id="schedule">
	
    <!-- List with schedule -->
	<ul id="table" class="list">
    </ul>

    <!-- Possibility to add -->
    <ul>
        <!-- <li class="top">
            <form id="addGameSchedule" action="#" class="form-4">
            <input id="date" placeholder="Day, 00:00am" type="date" />
            <input id="team1" placeholder="Name home team" type="text" />
            <input id="team1Score" placeholder="0" type="number" /> - <input id="team2Score" type="number" />
            <input id="team2" placeholder="Name out team" type="text" />
            <input type="submit" id="add" value="Add" />
            </form>
        </li> -->
    </ul>
</section>

<!-- Template for schedule list-->	
<script id="scheduleTemplate" type="text/template"> 
        <a href="#/game/:<%= id %>">
            <span class="date"><%= start_time %></span>
            <span class="team home"><%= team_1.name %></span> 
            <span class="score">
                <span><%= team_1_score %></span>
                <span><%= team_2_score %></span>
            </span>
            <span class="team away"><%= team_2.name %></span>
        </a>
</script>